{% extends 'elements/layouts/base.html' %}
{%load static%}

{% block additional_css %}


{% endblock %}

{% block message %}
{% include 'elements/alert.html' %}
{% endblock %}
{% block content%}

    <main class="content">
				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							<div class="col-md-7 wow fadeInLeft">
								<h2 class="section-title">Bienvenue sur DarnaDarkom - Votre Plateforme d'Hébergement Collaboratif</h2>
								<figure>
									<img src="dummy/figure-1.jpg" alt="">
								</figure>

								<p>DarnaDarkom vous invite à une expérience unique de partage et d'hospitalité. Notre plateforme a été créée avec une vision simple : relier les voyageurs à des hôtes généreux qui ouvrent leurs portes et leurs cœurs pour offrir un hébergement authentique et chaleureux.</p>

								<p>Imaginez explorer de nouveaux endroits en ayant la possibilité de séjourner dans des foyers locaux. DarnaDarkom vous offre cette opportunité en connectant des voyageurs du monde entier à des hôtes locaux qui souhaitent partager leur culture, leurs traditions et leur hospitalité. Que vous soyez à la recherche d'une escapade courte, d'une immersion culturelle ou d'une expérience hors des sentiers battus, DarnaDarkom est là pour vous.</p>
                                <h3>Pourquoi choisir DarnaDarkom :</h3>
                                <ul>
                                    <li>
Expérience Personnalisée : Profitez de séjours uniques et personnalisés, loin des logements standardisés. Vivez comme un local et découvrez les trésors cachés de chaque destination.
                                    </li>
                                    <li>
                                        Rencontres Authentiques : Rencontrez des hôtes passionnés qui vous accueilleront dans leur foyer et partageront avec vous leur mode de vie, leurs histoires et leur cuisine locale.
                                    </li>
                                    <li>
                                        Diversité Culturelle : Du nord au sud, d'est en ouest, découvrez une multitude de cultures, de langues et de traditions en vous connectant avec des hôtes de différents horizons.
                                    </li>
                                    <li>
                                        Sécurité et Confiance : Nous attachons une grande importance à la sécurité de nos utilisateurs. Chaque hôte est vérifié et les profils sont authentifiés pour vous offrir une expérience fiable et sereine.
                                    </li>
                                </ul>
								<p>Rejoignez la communauté grandissante de DarnaDarkom et ouvrez la porte à des aventures inoubliables. Que vous soyez un hôte désireux de partager votre maison ou un voyageur avide de nouvelles expériences, DarnaDarkom est là pour vous aider à créer des souvenirs durables.</p>
                                <p>Prêt à vivre l'aventure DarnaDarkom ? Inscrivez-vous dès aujourd'hui et commencez à explorer un monde de possibilités.</p>
							</div>
							<div class="col-md-4 col-md-push-1 wow fadeInRight">
								<h2 class="section-title">Nos Principes</h2>
								<a href="#" class="boxed-link">Expérience Personnalisée</a>
								<a href="#" class="boxed-link">Rencontres Authentiques</a>
								<a href="#" class="boxed-link">Diversité Culturelle</a>
								<a href="#" class="boxed-link">Sécurité et Confianc</a>


							</div>
						</div>
					</div>

				</div>

{#				<div class="fullwidth-block" data-bg-color="#f1f1f1">#}
{#					<div class="container">#}
{#						<h2 class="section-title">Our Team</h2>#}
{#						<div class="row">#}
{#							<div class="col-md-6">#}
{#								<div class="team wow fadeInRight">#}
{#									<figure class="team-image">#}
{#										<img src="dummy/person-team-1.jpg" alt="">#}
{#									</figure>#}
{#									<h2 class="team-name">Christian Brown</h2>#}
{#									<small class="team-title">CEO</small>#}
{#									<p>A gamma bomb explosion while trying to save the life of a teenager, Dr. Bruce Banner was transformed into the incredibly powerful creature called the Hulk. Avengers Assemble</p>#}
{#								</div>#}
{##}
{#								<div class="team wow fadeInRight">#}
{#									<figure class="team-image">#}
{#										<img src="dummy/person-team-2.jpg" alt="">#}
{#									</figure>#}
{#									<h2 class="team-name">Sarah Smith</h2>#}
{#									<small class="team-title">PR Specialist</small>#}
{#									<p>A gamma bomb explosion while trying to save the life of a teenager, Dr. Bruce Banner was transformed into the incredibly powerful creature called the Hulk. Avengers Assemble</p>#}
{#								</div>#}
{#							</div>#}
{#							<div class="col-md-6">#}
{#								<div class="team wow fadeInRight" data-wow-delay=".4s">#}
{#									<figure class="team-image">#}
{#										<img src="dummy/person-team-3.jpg" alt="">#}
{#									</figure>#}
{#									<h2 class="team-name">Steven Blumkin</h2>#}
{#									<small class="team-title">Director</small>#}
{#									<p>A gamma bomb explosion while trying to save the life of a teenager, Dr. Bruce Banner was transformed into the incredibly powerful creature called the Hulk. Avengers Assemble</p>#}
{#								</div>#}
{##}
{#								<div class="team wow fadeInRight" data-wow-delay=".4s">#}
{#									<figure class="team-image">#}
{#										<img src="dummy/person-team-4.jpg" alt="">#}
{#									</figure>#}
{#									<h2 class="team-name">Jessica Webb</h2>#}
{#									<small class="team-title">Consumer Service</small>#}
{#									<p>A gamma bomb explosion while trying to save the life of a teenager, Dr. Bruce Banner was transformed into the incredibly powerful creature called the Hulk. Avengers Assemble</p>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}

{#				<div class="fullwidth-block">#}
{#					<div class="container">#}
{#						<div class="row">#}
{#							<div class="col-md-4 wow fadeInUp">#}
{#								<h2 class="section-title">The Best Travels</h2>#}
{#								<p>Caught in a gamma bomb explosion while trying to save the life of a teenager, Dr. Bruce Banner was transformed into the incredibly powerful creature called the Hulk.</p>#}
{#								<p>Avengers Assemble. Featuring the work of Kurt Busiek, George Perez and other quintessential Avengers creators. Earths Mightiest Heroes reunite with their biggest guns at the forefront</p>#}
{#							</div>#}
{#							<div class="col-md-4 wow fadeInUp" data-wow-delay=".2s">#}
{#								<h2 class="section-title">How does it work?</h2>#}
{#								<ol class="circle-list">#}
{#									<li>Transformed into the incredibly powerful creature called the Hulk</li>#}
{#									<li>A gamma bomb explosion while trying to save the life of a teenager</li>#}
{#									<li>Featuring the work of Kurt Busiek, George Perez and other quintessential</li>#}
{#								</ol>#}
{#							</div>#}
{#							<div class="col-md-4 wow fadeInUp" data-wow-delay=".4s">#}
{#								<h2 class="section-title">Public relation</h2>#}
{#								<a href="#" class="boxed-link">Proin placeat condinemtum nulla</a>#}
{#								<a href="#" class="boxed-link">Perez and other quintessential</a>#}
{#								<a href="#" class="boxed-link">Gamma bomb explosion while trying</a>#}
{#								<a href="#" class="boxed-link">Perez and other quintessential</a>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
			</main> <!-- .content -->
{% endblock %}