{% extends 'elements/layouts/base.html' %}
{%load static%}

{% block additional_css %}


{% endblock %}

{% block message %}
{% include 'elements/alert.html' %}
{% endblock %}
{% block content%}
    <main class="content">
				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							<div class="col-md-8 wow fadeInLeft">
								<h2 class="section-title">Protection des Utilisateurs</h2>
								<p>
                                    Chez DarnaDarkom, nous accordons une priorité absolue à la sécurité et au bien-être de notre communauté d'hôtes et de voyageurs. Notre engagement envers la protection des utilisateurs se reflète dans chaque aspect de notre plateforme.</p>
                                <h3>Vérification Rigoureuse des Hôtes</h3>
                                <p>
                                    Chaque hôte sur DarnaDarkom passe par un processus de vérification complet. Nous vérifions l'identité des hôtes en demandant des informations personnelles, en vérifiant les documents d'identification et en effectuant des vérifications de sécurité. Vous pouvez être assuré que les hôtes qui ouvrent leurs portes sont des individus dignes de confiance.
                                </p>
								<h3>Profils Authentiques</h3>
                                <p>
                                    Nous encourageons nos utilisateurs à créer des profils authentiques et détaillés. Les photos de profil, les descriptions et les informations personnelles aident à établir un lien de confiance entre les hôtes et les voyageurs. Nous encourageons également les avis et les évaluations pour partager des expériences honnêtes et aider les autres membres de la communauté à prendre des décisions éclairées.
                                </p>
                                <h3>Paiements Sécurisés</h3>
<p>Les paiements effectués sur DarnaDarkom sont sécurisés et protégés. Notre plateforme utilise des méthodes de paiement fiables et encryptées pour garantir la sécurité des transactions. Nous vous conseillons également de ne jamais effectuer de paiements en dehors de la plateforme pour éviter toute fraude potentielle.
</p>
                                <h3>Assistance 24h/24 et 7j/7</h3>
<p>Notre équipe d'assistance est disponible en permanence pour répondre à vos questions, résoudre vos problèmes et vous offrir une assistance rapide. Si vous rencontrez un problème ou avez des préoccupations, n'hésitez pas à nous contacter. Nous sommes là pour vous aider à chaque étape de votre voyage.
</p>
                                <h3>Engagement envers la Communauté</h3>
<p>Nous avons à cœur de maintenir une communauté sûre et respectueuse sur DarnaDarkom. Nous encourageons les utilisateurs à signaler tout comportement suspect ou inapproprié, afin que nous puissions prendre des mesures appropriées pour garantir la sécurité de tous.
</p>
<p>Chez DarnaDarkom, la protection de nos utilisateurs est au cœur de notre mission. Nous nous engageons à offrir une expérience d'hébergement positive, sécurisée et mémorable à chaque membre de notre communauté.
</p>
                                <p><strong>Votre sécurité est notre priorité.</strong></p>

							</div>
						</div>

					</div>

				</div>


			</main>

{% endblock %}